<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PO" connectionString="Data Source=projectterra.database.windows.net,1433;MultipleActiveResultSets=True;Initial Catalog=terra;User ID=terra;Password=Kn4J4gcLDRCkV6nd" />
  </connectionStrings>
</configuration>